
* {
  background-color: #242424;
}

.App {
  text-align: center;
}

.row {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container {
  padding: 96px 0;
  display: flex;
  flex-direction: row;
}

.map_window {
  border: 10px solid #bbbbbb;
  border-radius: 14px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.btn {
  background-color: #bcbcbc;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-wrap: nowrap;
}

.btn:hover {
  background-color: #425e63;
}

.map_wrapper {
  position: relative;
}

.marker_wrapper {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.map {
  width: 100%;
  height: auto;
  z-index: 0;
  position: relative;
}

.marker {
  width: 24px;
  height: 24px;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.marker:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.marker_desc {
  z-index: 2;
  background-color: #e9e9e9;
  border: 2px solid #242424;
  border-radius: 14px;
  padding: 8px;
  margin-top: 28px;
  margin-left: 10px;
}

.marker_desc h1 {
  font-size: 16px;
  background-color: transparent;
  padding: 6px 8px;
  margin: 0;
  border-bottom: 2px solid #242424;
}

.marker_desc h2 {
  font-size: 14px;
  background-color: transparent;
  margin: 0;
  padding: 4px 0px 8px 0px;
}

.marker_desc h3 {
  font-size: 14px;
  background-color: transparent;
  margin: 0;
  padding: 4px 0px 8px 0px;
}

.marker_desc p {
  font-size: 12px;
  background-color: transparent;
  margin: 0;
  padding: 8px;
}

.sidebar {
  color: #bcbcbc;
  display: flex;
  flex-direction: column;
}

.legend {
  margin: 4px;
  background-color: #425e63;
  border: 2px solid #bcbcbc;
  border-radius: 14px;
  padding: 8px;
}

.legend_item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
  background-color: transparent;
}

.legend_item_name {
  font-size: 14px;
  margin-left: 8px;
  color: #bcbcbc;
  background-color: transparent;
}

.legend_item_label {
  font-size: 14px;
  margin-right: 8px;
  color: #bcbcbc;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.legend_item_label:hover {
  transform: scale(1.2);
}

.legend_item_icon {
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.legend_item_icon:hover {
  transform: scale(1.2);
}

.legend_checkbox {
  border: 2px solid #242424;
  border-radius: 12px;
  display: none;
}

.divider {
  border: 2px solid #bcbcbc;
  margin: 10px;
}

/* Responsive */

@media (max-width: 480px) {
  .marker {
    width: 16px;
    height: 16px;
  }

  .container {
    padding: 48px 0;
    display: flex;
    flex-direction: column;
  }
}